html {
    font-size: 1em;
}

.container {
    /* font-size: 2em; */
    font-family: arial;
    height: auto;
    /* 자식 요소(.child)를 중앙 정렬하기 */
    display: flex;
    justify-content: center;
}

.child {
    font-size: 2em;
    text-align: center;
}

.combo {
    font-size: 2em;
    padding: 1%;
}

.textarea {
    font-size: 2em;
    padding: 1%;
}

.submit {
    font-size: 2em;
    padding: 1%;
}